html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**
    색상 정보 출처 : https://xenosium.com/entry/8679/
  */

:root {
  --page-bg-color: rgb(30, 30, 30);
  --header-bg-color: hsla(0, 2%, 16%, 0.507);
  --header-text-color: hsl(0, 0%, 80%);
  --sidebar-bg-color: hsl(0, 0%, 16%);
  --sidebar-text-color: hsl(0, 0%, 80%);
  --paragraph-color: hsl(0, 0%, 80%);
  --callout-bg-color: hsl(0, 0%, 10%);
  --button-bg-color: linear-gradient(70deg, hsl(265, 31%, 21%) 5%, hsl(283, 53%, 68%) 10%, hsl(265, 31%, 21%) 15%);
  --timer: linear-gradient(90deg, hsl(288, 25%, 20%) 30%, hsl(280, 2%, 38%) 50%, hsl(288, 25%, 20%) 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: rgb(30, 30, 30);
    --header-bg-color: hsla(0, 2%, 16%, 0.507);
    --header-text-color: hsl(0, 0%, 80%);
    --sidebar-bg-color: hsl(0, 0%, 16%);
    --sidebar-text-color: hsl(0, 0%, 80%);
    --paragraph-color: hsl(0, 0%, 80%);
    --callout-bg-color: hsl(0, 0%, 10%);
    --button-bg-color: linear-gradient(70deg, hsl(265, 31%, 21%) 5%, hsl(283, 53%, 68%) 10%, hsl(265, 31%, 21%) 15%);
    --timer: linear-gradient(90deg, hsl(288, 25%, 20%) 30%, hsl(280, 2%, 38%) 50%, hsl(288, 25%, 20%) 80%);
  }

  html {
    color-scheme: dark;
  }
}

body {
  color: var(--paragraph-color);
  background: var(--page-bg-color);
}